#wrapper {
    width: 80%;
    margin: 50px auto 0 auto;
}

.right {
    float: right;
}

#subtitles {
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    margin-right: 10px;
    margin-left: 5px;
    vertical-align: -10px;
}

#yes {
    vertical-align: -10px;
}

#search {
    width: 200px;
    display: inline-block;
}